body {
    margin: auto 0;
    font-family: Arial;
}
div {
    width: 500px;
    margin: auto;
  }
  
  #title-text {
    color: blue;
    text-align: center;
    font-size: 32px;
  }
  
  p {
    font-size: 16px;
    text-align: center;
  }

  
  p {
    text-align: center; 
  }
  #header-section {
    display: flex; /* make the section element a flex container */
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    width: 100%;
  
  }
  

  img {
    max-width: 100%;
}
section {
    position: relative; /* make the section element a positioned element */
  }
  
  p {
    text-align: center; /* center the text within the element */
  }
 
  @media (max-width: 500px) {
    div {
      width: 90%; 
    }
    h1 {
      font-size: 24px; 
    }
    p {
      font-size: 14px;
    }
  }
  
  /* styles for tablets (768px and wider) */
@media (min-width: 768px) {
    section {
      width: 768px;
    }
  }
  
  /* styles for phones (600px and narrower) */
  @media (max-width: 600px) {
    section {
      width: 90%;
    }
  }
  